.metadata
CodeForce_special_the_great_julya_calendar
CS3343_exam
CS3343_exam_11_12
CS3343_examination
CS3343_PASTEXAM_sample_1
CS3343_Sample_exam_2_code_refactoring
CS3343_Sample_exam_3_code
Lecture_6_example_refactoring
MOCK_2_CODE
Rapyd_signature
tutorial_9_code
wk_8_tutorial
wk_10_poker
NOTES_tmp.txt
26042021_eclipse-workspace.zip
27042021_eclipse-workspace.zip